layout: index
subtitle: 瓦力上线部署
comment: false
is_home: true
---


ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title 稳定的上线
      p.intro-feature-desc 支持多项目、多环境一键部署上线，一键快速回滚
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title 清晰的记录
      p.intro-feature-desc 上线单申请、审核、部署、实时操作日志。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-book
      h3.intro-feature-title 多任务插件
      p.intro-feature-desc pre-deploy、post-deploy、pre-release、post-release。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 完整的功能支持
      p.intro-feature-desc 权限、通知、文件指纹。